/** COMFORTAA + NUNITO */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Nunito&display=swap');

/* RESET */

* {
    margin: 0; /* margen de la cajita */
    padding: 0; /* margen contenido */
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #212121;
}

/* HEADER */

.barra {
    position: sticky;
    z-index: 5;
    top: 0;
    right: 0;
    left:0;
}

.logo {
    width: 200px;
}

.video-header {
    width: 100%;
}

nav {
    font-size: 1.3rem;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
}

.link-blanco {
    color: #FAFAFA;
    font-size: 1.3rem;
}

.link-negro {
    color: #212121;
        font-size: 1.3rem;
}

/* MAIN */

main {
    margin: 3%;
    padding: 3%;
    width: 100%;
}

h1 { 
    font-family: 'Comfortaa', cursive;
}

p {
    font-size: 1rem;
}

/* INDEX */

.index-header {
    height: 100vh;
}

.index-main {
    height: 150vh;
    z-index: 10;
}

.index-destacado {
    width: 90%;
    background-color: whitesmoke;
}

.index-foto {
    width: 66%;
}

.index-articulo {
    display: inline-block;
    background-color: whitesmoke;
    width: 21%;
}

.index-fotito {
    width: 100%;
}

.index-parallax {
    background-image: url(../assets/img/blog/blog-cover.jpeg);
    height: 42vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* BLOG */

.blog-articulo {
    width: 57%;
    margin: 1%;
    padding: 1%;
    background-color: whitesmoke;
}

.blog-in {
    display: inline;
}

.blog-firma {
    height: 60px;
    border-radius: 50%;
}

.blog-fecha {
    color: #757575;
}

.blog-foto {
    width: 100%;
}

.blog-texto {
    text-align: justify;
}

.blog-mini {
    width: 21%;
    background-color: whitesmoke;
}

.blog-mini-foto {
    width: 100%;
}

/* COMUNIDADES */

.comun-section {
    display: inline-block;
    text-align: justify;
    width: 90%;
    margin: 1%;
    padding: 1%;
    background-color: whitesmoke;
}

.comun-foto {
    width: 33%;
}

/* EMPRESA */

.empresa-persona {
    display: inline;
}

.empresa-perfil {
    width: 225px;
    border-radius: 50%;
}

.boton-in {
    font-size: 1.5rem;
    color: #0077B5;   
}

/* EJEMPLO */

.matterport { 
    width: 100%;
    height: 100vh;
}

/* PUBLICIDAD */

.banner-publicidad {
    width: 100%;
    margin: 1%;
    padding: 1%;
}

/* WHATSAPP */

.boton-wp { 
    position: fixed;
    bottom: 10vh;
    right: 5vh;
    z-index: 5;
    color: #128C7E;
    font-size: 3.5rem;
}

/* FOOTER */

footer {
    width: 100%;
    padding: 1%;
    background-color: #212121;
    color: #FAFAFA;
    height: 37vh;
    z-index: 5;
}

/* .·. */