/** COMFORTAA + NUNITO */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Nunito&display=swap');

* { /* RESET */
    margin: 0; /* margen cajita */
    padding: 0; /* margen contenido */
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', cursive;
    color: #212121;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 { 
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

p {
    font-size: 1rem;
}

/* HEADER */

.video-header { /* VIDEO HEADER - NO TOCAR */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-sticky {
    height: 100vh;
    background-color: #212121;
}

.nav-sticky {
    position: sticky;
    top: 0;
    z-index: 1020;
}

.header-oscuro {
    background-color: #212121;
}

.logo { /* LOGO */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar .navbar-nav .nav-link.active {
    color: #9b9b9b ;
}

.navbar .navbar-nav .nav-link:hover {
    color:#757575;
}

.link-blanco {
    color: #FAFAFA;
    border: none;
}

.link-negro {
    color: #212121;
}

.link-gris {
    color: #9b9b9b;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a { /* ANCLAS */
    text-decoration: none;
}

/* INDEX */

.index-foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.index-aside {
    background-color: whitesmoke;
}

/* BLOG */

.blog-fecha {
    color: #757575;
}

.blog-firma {
    background-color: whitesmoke;
}

.blog-fotito {
    border-radius: 50%;
}

.fondo-negro {
    background-color: #212121;
    z-index: 1020;
}

.fondo-gris {
    background-color: whitesmoke;
}

/* EMPRESA */

.empresa-perfil {
    border-radius: 50%;
    max-height: 66%;
}

.boton-in {
    font-size: 2rem;
    color: #0077B5;   
}

/* CONTACTO */

.footer-maps {
    height: 66vh;
    width: 100%;
    object-fit: cover;
}

.contacto-foto {
    height: 33vh;
}

/* PUBLICIDAD */
.banner-publicidad {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-publicidad {
    height: 21vh;
}

/* WP FIJO */
.boton-wp {
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    background-color: #128C7E;
    color: #FAFAFA;
    border-radius: 50%;
    padding: 0.9%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.boton-wp:hover {
    background-color: #FAFAFA;
    color: #128C7E;
}

.boton-wp i {
    display: block;
}

.boton-wp i.fa-whatsapp {
    font-size: 2rem;
}

/* FOOTER */

.footer-oscuro {
    height: 33vh;
    color: #9b9b9b;
}

/* MEDIA */

@media (min-width: 768px) {
    .video-header {
        display: block;
    }
}

@media (max-width: 767px) {

    .video-header {
        display: none;
    }

    .nav-sticky {
        position: static;
    }

    .navbar-nav {
        align-items: center;
    }

    .navbar-toggler {
        display: block;
        margin: 0 auto;
        background-color: #212121;
        border: none;
    }

    .navbar-toggler-icon {
        background-color: #FAFAFA;
    }

    .navbar-toggler .navbar-toggler-icon {
        width: 1.5em;
        height: 1.5em;
    }

    .link-blanco,
    .link-negro,
    .link-gris {
        flex-direction: column;
        font-size: 0.9rem;
    }
}