@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Comfortaa", cursive;
  color: #212121;
  overflow-x: hidden;
}

/* ACA VA TODO LO QUE NO QUEDO ANIDADO */
.link-blanco {
  color: #FAFAFA;
}

.link-negro {
  color: #212121;
}

.link-gris {
  color: #9b9b9b;
}

.fondo-gris {
  background-color: whitesmoke; /* ARMAR TRES TIPOS DE GRIS!!! */
}

.index-foto { /* CONFIGURACION GENERAL FOTOS */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.empresa-perfil { /* FOTO PERFIL */
  border-radius: 50%;
  max-height: 66%;
}

.banner-publicidad { /* PUBLICIDAD GRANDE */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-publicidad { /* PUBLICIDAD CHICA */
  height: 21vh;
}

.boton-in { /* BOTON LINKEDIN */
  font-size: 2rem;
  color: #0077B5;
}

.footer-maps { /* MAPS FOOTER */
  height: 66vh;
  width: 100%;
  object-fit: cover;
}

.header-sticky { /* HEADER PEGAJOSO */
  height: auto;
  background-color: #212121;
}
@media screen and (min-width: 768px) {
  .header-sticky {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}

.header-index { /* HEADER 100VH */
  height: auto;
  background-color: #212121;
}
@media screen and (min-width: 768px) {
  .header-index {
    height: 100vh;
  }
}

.nav-sticky { /* NAVEGACION PEGAJOSA */
  position: static;
}
@media screen and (min-width: 768px) {
  .nav-sticky {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}

.navbar-toggler { /* BOTÓN */
  display: block;
  margin: 0 auto;
  background-color: transparent; /* Agregamos un fondo transparente para el botón */
  border: none;
  outline: none;
  cursor: pointer;
}
.navbar-toggler .icono-head {
  fill: #FAFAFA;
  color: #FAFAFA;
  width: 1em;
  height: 1em;
}

.navbar-collapse { /* LISTADO PAGINAS */ }
.navbar-collapse ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar-collapse ul li {
  display: inline-block;
}
.navbar-collapse ul li a {
  text-decoration: none;
  color: #FAFAFA;
}
.navbar-collapse ul li a:hover {
  color: #757575;
}
.navbar-collapse ul li a.active {
  color: #757575;
}
.navbar-collapse ul li a.active:hover {
  color: #9b9b9b;
}

.logo { /* LOGO */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-header { /* VIDEO 100VH */
  display: none;
}
@media screen and (min-width: 768px) {
  .video-header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #212121;
}
a:hover {
  color: #9b9b9b;
}

.blog-firma { /* FIRMA BLOG */
  background-color: #757575;
}
.blog-firma .blog-fotito {
  display: none;
}
@media screen and (min-width: 768px) {
  .blog-firma .blog-fotito {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.boton-wp { /* WHATSAPP */
  position: fixed;
  bottom: 5vh;
  right: 5vh;
  background-color: #128C7E;
  color: #FAFAFA;
  border-radius: 50%;
  padding: 2vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
.boton-wp i {
  display: block;
  font-size: 2em;
}
.boton-wp:hover {
  background-color: #FAFAFA;
  color: #128C7E;
}

.footer-oscuro {
  height: 33vh;
  color: #9b9b9b;
}
.footer-oscuro .fondo-negro {
  background-color: #212121;
  z-index: 1020;
}/*# sourceMappingURL=estilos.css.map */