.banner-publicidad { /* PUBLICIDAD GRANDE */
    width: 100%;
    object-fit: cover;
}

.blog-publicidad { /* PUBLICIDAD CHICA */
    height: 21vh;
}

.boton-wp { /* WHATSAPP */
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    background-color: #128C7E;
    color: $blanco-pint;
    border-radius: 50%;
    padding: 2vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;

    i {
        display: block;
        font-size: 2em;

    }
    &:hover {
        background-color: $blanco-pint;
        color: #128C7E;
    }
}

.footer-maps { /* MAPS FOOTER */
    height: 66vh;
    width: 100%;
    object-fit: cover;
}