.header-index {
    height: 100vh;
    background-color: $negro-pint;
    .logo { /* LOGO */
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.video-header { /* VIDEO HEADER - NO TOCAR */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}