.header-sticky {
    background-color: $negro-pint;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.navbar .navbar-nav .nav-link.active {
    color: $gris-pint;
}

.navbar .navbar-nav .nav-link:hover {
    color:#757575;
}

.link-blanco {
    color: $blanco-pint;
    border: none;
}

.link-negro {
    color: $negro-pint;
}

.link-gris {
    color: $gris-pint;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
}