.header-index { /* HEADER VIDEO */
    height: 100vh;
    background-color: $negro-pint;
    .nav-sticky {
        position: sticky;
        top: 0;
        z-index: 1020;
        .logo { /* LOGO */
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        ul {
            list-style: none;
            li {
                display: inline-block;
                a {
                    text-decoration: none;
                    .nav-link.active {
                        color: $gris-pint;
                        &:hover {
                            color: $gris-link;
                        }
                    }
                }
            }
        }
    }
}

.video-header {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}