h1, h2, h3, h4, h5, h6 {
    font-family: map-get($fuente-pint, titulo);
    font-weight: bold;
}

p { 
    font-family: map-get($fuente-pint, parrafo);
    color: map-get($color-pint, negro);
}

.flex-pint {
    @extend %flex-pint;
    align-items: center;
    text-align: center;
    .blog-publicidad { /* PUBLICIDAD CHICA */
        height: 21vh;
        width: auto;
        margin: 0.5rem;
    }
    .blog-fotito {
        @extend %foto-pint;
        border-radius: 50%;
        display: none;
        @media screen and (min-width: 640px) {
            display: block;
        }
    }
    .boton-in { /* BOTON LINKEDIN */
        font-size: 2rem;
        color: map-get($color-pint, linkedin); 
    }
}

.start-pint {
    @extend %flex-pint;
    align-items: start;
}

.columna-pint {
    @extend %flex-pint;
    flex-direction: column;
    padding: 1rem;
}

.animacion-pint {
    overflow-x: hidden;
}

.ocultar {
    display: none;
    @media screen and (min-width: 640px) {
        display: block;
    };
}