.blog-firma { /* FIRMA BLOG */
    background-color: $gris-terciario;
    .blog-fotito {
        display: none;
        @media screen and (min-width: 768px) {
            display: block;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}