/* ACA VA TODO LO QUE NO QUEDO ANIDADO */

.link-negro { a { @include enlace-pint ($negro-pint, $gris-principal, $gris-secundario); } }
.link-gris { a { @include enlace-pint ($gris-secundario, $gris-terciario, $gris-principal); } }
.link-blanco { a { @include enlace-pint ($blanco-pint, $gris-principal, $gris-secundario); } }

.foto-pint { @extend %foto-pint; }

.empresa-perfil { /* FOTO PERFIL */
    @extend %foto-pint;
    border-radius: 50%;
    max-height: 66%;
}

.blog-fotito {
    @extend %foto-pint;
    border-radius: 50%;
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
    }
}

.blog-firma { background-color: $gris-terciario; } /* FIRMA BLOG */

.boton-in { /* BOTON LINKEDIN */
    font-size: 2rem;
    color: #0077B5;   
}