/* ACA VA TODO LO QUE NO QUEDO ANIDADO */

.index-foto { /* CONFIGURACION GENERAL FOTOS */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.empresa-perfil { /* FOTO PERFIL */
    border-radius: 50%;
    max-height: 66%;
}

.banner-publicidad { /* PUBLICIDAD GRANDE */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-publicidad { /* PUBLICIDAD CHICA */
    height: 21vh;
}

.boton-in { /* BOTON LINKEDIN */
    font-size: 2rem;
    color: #0077B5;   
}

.footer-maps { /* MAPS FOOTER */
    height: 66vh;
    width: 100%;
    object-fit: cover;
}