/* ACA VA TODO LO QUE NO QUEDO ANIDADO */

.link-blanco {
    text-decoration: none;
    color: $blanco-pint;
    &:hover {
        color: $blanco-pint;
    }
}

.link-negro {
    text-decoration: none;
    color: $negro-pint;
    &:hover {
        color: $negro-pint;
    }
}

.link-gris {
    text-decoration: none;
    color: $gris-principal;
    &:hover {
        color: $gris-principal;
    }
}

.fondo-gris {
    background-color: $gris-terciario;
}

.index-foto { /* CONFIGURACION GENERAL FOTOS */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.empresa-perfil { /* FOTO PERFIL */
    border-radius: 50%;
    max-height: 66%;
}

.banner-publicidad { /* PUBLICIDAD GRANDE */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-publicidad { /* PUBLICIDAD CHICA */
    height: 21vh;
}

.boton-in { /* BOTON LINKEDIN */
    font-size: 2rem;
    color: #0077B5;   
}

.footer-maps { /* MAPS FOOTER */
    height: 66vh;
    width: 100%;
    object-fit: cover;
}