@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Nunito&display=swap');

$fuente-principal: 'Nunito', sans-serif;
$fuente-secundaria: 'Comfortaa', cursive;

$negro-pint: #212121;
$gris-principal: #585858;
$gris-secundario: #8E8E8E;
$gris-terciario: #F4F4F4;
$blanco-pint: #FAFAFA;

@mixin enlace-pint ($color-link, $color-hover, $color-activo) {
    text-decoration: none;
    color: $color-link;
    &:hover { color: $color-hover; }
    &:active { color: $color-activo; &:hover { color: $color-hover; } }
}

%foto-pint {
    width: 100%;
    height: 100%;
    object-fit: cover;
}