@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Nunito&display=swap');

$fuente-principal: 'Nunito', sans-serif;
$fuente-secundaria: 'Comfortaa', cursive;

$negro-pint: #212121;
$blanco-pint: #FAFAFA;
$gris-pint: #9b9b9b;